@font-face {
    font-family: "Minecraft";
    src: url("../Minecraft.ttf");
}

html, body{
    cursor: url(../icons/cursor-reg.png), auto;
}

body{
    max-width: 1120px;
    margin: 11.5% auto;
    background-color: #ECECE4;
}

.center{
    text-align: center;
    margin: 20px auto;
}

.frame{
    width: 70%;
}

button{
    background-color: #DD9296;
    border-color: #22031F;
    border-radius: 0.5px;
    padding: 20px;
    font-family: "Minecraft"; 
    font-size: 16px; 
    display: inline-block; 
    margin: 20px auto; 
}

a{
    text-decoration: none;
    color: #22031F;
}

a:hover{
    text-decoration: underline;
}

button:hover, a:hover{
	cursor: url(icons/cursor-click.png);
}

#logo {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#logo:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
  